.form {
    
}

.cim {
    background-color: blanchedalmond;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.doboz {
    box-sizing: border-box;
    width: 100%;
    border: solid black 1px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: white;
}
.doboznagy {
    padding-left: 100px;
    padding-right: 100px;
    background-position: center;
    background-color: blanchedalmond;
    background-repeat: no-repeat;
}
.doboz:hover {
    background-color: blanchedalmond;
}
.footer {
    text-align: center;
}
#content {

}